.picture-section {
  width: 100vw;
  height: 100vh;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.slide-img-ps::before,
.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.box-ps {
  width: 100%;
}
.slide-img-ps {
  height: 100%;
  position: relative;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-img-ps img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-sizing: border-box;
}

.picture-section .content {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 888;
  color: #fff;
}

.picture-section .content h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: left;
  line-height: 75px;
}
.picture-section .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}
.picture-section .content p {
  padding: 15px;
}

.picture-section .content button {
  background: #81f7b6;
  padding: 15px;
  color: #251119;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 10px;
}
.content button:hover {
  color: #81f7b6;
  background: #9225fe;
  transition: ease-in-out 0.3s;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media screen and(max-width: 768px) {
}

@media screen and (max-width: 480px) {
}

